<p>Hi {{ firstname }} {{ lastname }},</p>
<p>
    After reviewing your request for a service provider membership <br>
    under the name {{ name }} <br>
    responding to the description {{ description }} <br>
    and registered with the kbis : {{ kbis }}.<br>
    unfortunately, we cannot proceed with it. <br>

    We are sorry. <br>

    Best regards
</p>
