<h1>Pending approuval</h1>
<p>The prestataire {{ name }} responding to the description {{ description }} <br>and registered with the kabis : {{ kbis }} submitted
    a demand for approuval. <br>Please proceed to mandatory verification regarding the validity of the prestataire.<br>

    Demand issued by {{ firstname }} {{ lastname }}. <br>
    Thank you.
</p>
