<p>Hi {{ firstname }} {{ lastname }},</p>
<p>
    We are happy ton confirm your service provider membership under the name {{ name }} <br>
    responding to the description {{ description }} <br>
    and registered with the kbis : {{ kbis }}.<br>

    Welcome on board !
</p>
